@page "/Home"

@layout MainLayout

<RadzenStack JustifyContent="JustifyContent.Center" AlignItems="AlignItems.Center" class="w-100 h-100">
    <RadzenCard>
        <div id="qrcode"></div>
    </RadzenCard>
</RadzenStack>